.applicationlist{
  display: flex;
  background-color: rgb(15, 15, 15);
  list-style: none;
  width: 100%;
  border-radius: 1rem;
  margin: 0;
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.detailsarea{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem 1rem;
  margin: 0.1rem 0rem;
  color: white;
  border-radius: 1rem;
}

.detailsarea h1{
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.detailsarea p{
  margin:0.2rem 0rem;
}

.delete{
  border: none;
  background-color: red;
  padding: 0.6rem 1.3rem;
  font-size: 1.0rem;
  border-radius: 1rem;
}