.registration{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
}
.registration h1{
  margin: 0;
  padding: 1rem;
}

.area{
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: 20px;
  width: 80%;
}

.welcomearea{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  color: white;
  border-radius: 20px;
  width: 100%;
}

.submitarea{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
  border-radius: 20px;
  width: 80%;
  gap: 1rem;
}

.area label{
  font-size: 1.0rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.area input{
  background-color: rgb(80,80,80);
  padding: 0.5rem;
  border-radius: 10px;
  border-top-left-radius: 0;
  border: none;
  color: white;
}

.area input::placeholder{
  color: rgb(194, 194, 194);
  font-size: 0.7rem;
}

.area select{
  background-color: rgb(80,80,80);
  padding: 0.5rem;
  border-radius: 10px;
  border-top-left-radius: 0;
  border: none;
  color: white;
}

.checkbox{
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-top: 0.5rem;
}

.submitbtn{
  background-color: transparent;
  color: white;
  padding: 0.7rem 1rem;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 1rem;
  width: 50%;
}

.submitbtn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.error{
  color: rgb(187, 0, 0);
  font-size: 0.8rem;
  margin: 0.2rem 0rem;
}

