@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montaga", serif;
}

body{
  margin: 0;
  padding: 0;
  color: white;
  background-color: #000000;
}

a{
  text-decoration: none;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.header_bg_img {
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url("/dztb-facepaint-banner.jpg");
  background-size: cover, cover;
  background-position: top, center -6.5rem;
  background-repeat: no-repeat, no-repeat;
}
